<div class="blockForm">
  <form [formGroup]="form">
    <div *ngIf="usernameError" class="error">
      <h4>{{usernameError}}!!!</h4>
    </div>

    <label>Username: <input type="text" formControlName="username"></label>
    <label>Password: <input type="text" formControlName="password"></label>
    <label>Confirm password: <input type="text" formControlName="confirmPassword"></label>

    <p *ngIf="form.invalid && form.touched">
      ( -Username must be lower case and start with a letter !!! <br> -All fields
      are required and
      must be in range 2-20 characters !!! <br> -Passwords must be the same !!! )
    </p>

    <button [disabled]="form.invalid" (click)="registration()">Register</button>

  </form>
</div>
