<h3>{{userDetails.id}}. - {{userDetails.name}}</h3>
<div>

  <h4>username: -- {{userDetails.username}}</h4>
  <h4>email: -- {{userDetails.email }}</h4>
  <h4>phone: -- {{userDetails.phone}}</h4>
  <h4>address:

    <div class="address">
      <h4>street: -- {{userDetails.address.street}}</h4>
      <h4>suite: -- {{userDetails.address.suite}}</h4>
      <h4>city: -- {{userDetails.address.city}}</h4>
      <h4>city: -- {{userDetails.address.city}}</h4>
      <h4>geo:

        <div class="geo">
          <h4>lat: -- {{userDetails.address.geo.lat}}</h4>
          <h4>lng: --{{userDetails.address.geo.lng}}</h4>
        </div>

      </h4>
    </div>

  </h4>
  <h4>company:

    <div class="company">
      <h4>name: -- {{userDetails.company.name}}</h4>
      <h4>catchPhrase: -- {{userDetails.company.catchPhrase}}</h4>
      <h4>bs: -- {{userDetails.company.bs}}</h4>
    </div>

  </h4>
</div>
